[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/jpeg"]
	path = external/jpeg
	url = https://github.com/LuaDist/libjpeg.git
